.subtitle {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    font-size: 100px; /* Adjust as needed */
    /* Add any other styling you want */
  }